.vscode
.git
.gitignore
node_modules
src/**
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.build.json
.eslintrc.json
.prettierrc
CHANGELOG.md
webpack.config.js
test
.env
*.js.map

# Important: DO NOT exclude the media directory or icon files
!media/**/*
!dist/**/*